*{
  font-family: "Barlow","Roboto";
}

body{
 box-sizing: border-box;
 margin: 0;
 padding: 0; 
 color: #555;
}
footer {
  border-top: 20px solid rgb(212, 248, 236); /* Estilo de línea y color de la línea */    
  background-color: white;
  padding: 20px;
  text-align: center;  
}
footer p {
  color: #777;
}
footer nav a {
  color: #555;
  margin: 0 1%;
  text-decoration: none;
}
 
  .contenedor {
    display: flex;
  }  
  .filtro {
    flex-basis: 25%;
    padding: 20px;
    background-color: #f5f5f5;
  }  
  .productos {
    flex-basis: 75%;
    padding: 20px;
  }

  ul li{list-style: none;}
  .text-NEGRO{
    color: #000000;
    border-color: #000000;
    font-weight: bold;
    }
  